.styled-scrollbar,
.styled-scrollbar--horizontal {
  scrollbar-width: thin;
  scrollbar-color: #c619cd transparent;
  scrollbar-gutter: auto;
}

.styled-scrollbar--horizontal::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.75rem;
}

.styled-scrollbar::-webkit-scrollbar {
  height: 0.375rem;
  width: 0.75rem;
}

.styled-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.styled-scrollbar--horizontal::-webkit-scrollbar-thumb,
.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-md;
}

@media (hover: hover) {
  .styled-scrollbar--horizontal:hover::-webkit-scrollbar-thumb,
  .styled-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-gray-800;

    border: 3px solid transparent;
    background-clip: content-box;
  }
}
