@use "@/styles/utils/mixins";

.faq {
  //--faqItem-background: var(--faqItem-background-4);

  &__wrapper {
    width: 100%;
    max-width: 1320px;
    margin-top: 50px;
    //margin-bottom: 70px;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 20px;

    @include mixins.for-1400-down {
      max-width: 100%;
      column-gap: 60px;
    }

    @include mixins.for-1100-down {
      grid-template-columns: 1fr;
    }

    @include mixins.for-800-down {
      margin-bottom: 30px;
    }

    @include mixins.for-520-down {
      padding-left: 0;
    }
  }

  &__item {
    width: 100%;

    &:nth-child(1) {
      //--faqItem-background: var(--faqItem-background-3);
      grid-column: 1;
      grid-row: span 4;
    }

    &:nth-child(2) {
      //--faqItem-background: var(--faqItem-background-2);
    }

    &:nth-child(3) {
      //--faqItem-background: var(--faqItem-background-1);
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      align-self: start;
      grid-column: 2;

      @include mixins.for-1100-down {
        grid-column: 1;
      }
    }

    &Title {
      width: auto;
      margin-bottom: 6px;
      padding: 4px 10px;
      position: relative;
      display: inline-block;
      font-size: 1.2rem;
      line-height: 146%;
      color: var(--font-color-1);
      //text-shadow: var(--text-shadow-default);

      span {
        display: inline-block;

        @include mixins.for-520-down {
          display: block;
        }
      }

      @include mixins.for-800-down {
        font-size: 1.125rem;
      }

      @include mixins.for-520-down {
        padding: 4px 0;
        font-size: 0.92rem;
      }
    }
  }

  &__accordion {
    width: 100%;
  }
}
